footer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-texts{
    margin-right: 230px;
    gap: 90px;
    width: 100%;
    display: flex;
    justify-content: end;

    p{
        font-weight: 500;
        font-size: 28px;
        text-align: end;
        line-height: 28px;
        font-feature-settings: 'pnum' on, 'onum' on;

        color: var(--primary);


    }
}
.footer-title{
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
    color: var(--primary);
}

.footer-texts > div{
    display: flex;
    align-items: end;
}

.experience-content{
    margin-top: 170px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.experience-box{
    width: 100%;
    max-width: 400px;
    height: 250px;
    background: var(--secundary);
    border-radius: 20px;
    text-align: center;
    
    p{
        /* Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s */

        font-weight: 500;
        font-size: 22px;
        line-height: 28px;
        font-feature-settings: 'pnum' on, 'onum' on;

        color: var(--white-main);


    }

}
.experience-box:nth-last-child(2){
    margin-top: -30px;
    background-color: var(--primary);
    h2{
        color: var(--secundary);
    }
}

.experience-title{

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: var(--primary);


    margin-top: 30px;
    margin-bottom: 15px;
}

.footer-phrase{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 65px;
}

.phrase-title{
    margin-top: 20px;
    margin-bottom: 20px;

    font-weight: 600;
    font-size: 24px;
    line-height: 28px;

    color: var(--primary);


}