.main-container{
    display: flex;
    height: 80%;
}
.main-content{
    width: 100%;
}
.main-texts{
    color: var(--primary);
}
.main-wrapper{
    display: flex;
    justify-content:space-around;
}

.main-title-p{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    color: var(--primary);


}

.main-title{
    font-weight: 900;
    font-size: 72px;
    line-height: 84px;
    color: var(--primary);
    padding: 8px 0px;

}

.main-btn{
    margin-top: 130px;
    text-align:center;
    border: none;
    color: var(--white-main);
    padding: 24px 31px;
    background: var(--secundary);
    border-radius: 20px;

    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    transition: 0.5s;
}

.main-icons{
    margin-top: 100px;
    i{
        padding-right: 28px;
    }
}


.main-btn:hover {
    transform: scale(1.05);
}

.main-icons a:hover{
    i{
      color: var(--secundary);
      transform: translateY(-8px) scale(1.2);
    }
  }


@media screen and (max-width: 768px){
    .main-container{
        height: 85vh;
    }
    .main-wrapper{
        flex-direction: column;
    }
    .main-title{
        font-weight: 900;
        font-size: 45px;
        line-height: 40px;
    }
    .main-texts{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-title-p{
        font-weight: 500;
        font-size: 20.5px;
        line-height: 18px;
        /* identical to box height */
    }

    .main-btn{
        /* Button */
        margin-top: 28px;
        width: 249px;
        height: 47px;
        /* Saiba mais sobre mim */
        padding: 0px 0px;
        
        font-family: 'Roboto';
        font-weight: 900;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: #FFFFFF;
    }

    .main-icons{
        margin-top: 28px;
        text-align: center;
    }
    .main-image img{
        width: 100%;
        max-width: 450px;
    }
}
